<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= wavetype.image %>">
                <div class="caption-full">
                    <h4><a href=""><%= wavetype.name %></a></h4>
                    <p><%= wavetype.description %></p>
                    <p>
                        <em>Submitted by <%= wavetype.author.username %></em>
                    </p>
                    <% if (currentUser && wavetype.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/wavetypes/<%= wavetype._id %>/edit">Edit</a>
                        <form class="delete-form" action="/wavetypes/<%= wavetype._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>